<a href="https://colab.research.google.com/github/iampandian/Pandas_practicing_exercises/blob/main/Chipo_Filter_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t', index_col=0)
chipo.head(5)

          quantity  ... item_price
order_id            ...
1                1  ...     $2.39
1                1  ...     $3.39
1                1  ...     $3.39
1                1  ...     $2.39
2                2  ...    $16.98

[5 rows x 4 columns]

### Step 4. How many products cost more than $10.00?

In [9]:
price =[]
for i in chipo.item_price:
    price.append(i)

chipo.item_price = price
chipo

          quantity  ... item_price
order_id            ...
1                1  ...       2.39
1                1  ...       3.39
1                1  ...       3.39
1                1  ...       2.39
2                2  ...      16.98
...            ...  ...        ...
1833             1  ...      11.75
1833             1  ...      11.75
1834             1  ...      11.25
1834             1  ...       8.75
1834             1  ...       8.75

[4622 rows x 4 columns]

In [11]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'item_price', 'quantity'])
chipo_filtered = chipo_filtered[chipo_filtered.quantity == 1]
chipo_filtered

          quantity  ... item_price
order_id            ...
1                1  ...       2.39
1                1  ...       3.39
1                1  ...       3.39
1                1  ...       2.39
3                1  ...      10.98
...            ...  ...        ...
1500             1  ...       8.99
1598             1  ...       8.19
1691             1  ...       8.50
1793             1  ...       1.99
1793             1  ...      11.49

[135 rows x 4 columns]

In [14]:
chipo.query('item_price > 10').item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
chipo.drop_duplicates(['item_name', 'item_price'])

          quantity  ... item_price
order_id            ...
1                1  ...       2.39
1                1  ...       3.39
1                1  ...       3.39
1                1  ...       2.39
2                2  ...      16.98
...            ...  ...        ...
1691             2  ...       8.50
1738             2  ...      18.50
1786             4  ...      17.80
1793             1  ...       1.99
1793             1  ...      11.49

[209 rows x 4 columns]

In [18]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

          quantity  ... item_price
order_id            ...
3                1  ...      10.98
7                1  ...      11.25
10               1  ...       8.75
13               1  ...       8.49
20               1  ...      11.25
...            ...  ...        ...
1825             1  ...      11.25
1825             1  ...       8.75
1826             1  ...       8.75
1827             1  ...       8.75
1828             1  ...       8.75

[693 rows x 4 columns]

### Step 6. Sort by the name of the item

In [20]:
chipo.sort_values(by ='item_name')

          quantity  ... item_price
order_id            ...
1360             2  ...      12.98
148              1  ...       6.49
749              1  ...       6.49
754              1  ...       6.49
1076             1  ...       6.49
...            ...  ...        ...
948              1  ...       8.75
322              1  ...       8.75
1132             1  ...       8.49
688              1  ...      11.25
567              1  ...       8.49

[4622 rows x 4 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [24]:
chipo.sort_values(by ='item_price', ascending=False).head(1)

          quantity                     item_name choice_description  item_price
order_id
1443            15  Chips and Fresh Tomato Salsa                NaN       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [30]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [33]:
soda = chipo[(chipo.item_name =='Canned Soda') & (chipo.quantity > 1)]
len(soda)

20